.smart-forms-pagination-link-inactive {
	pointer-events:none;
	cursor:default;
	color:#999;
	text-decoration:none;
}
.smart-forms-pagination-link-inactive:visited, .smart-forms-pagination-link-inactive:active {
	color:#999;
}
.smart-forms-pagination-link-current {
	pointer-events:none;
	cursor:default;
}
.smart-forms-pagination-span {
	padding-left:4px;
	margin-left:3px;
	padding-right:4px;
	margin-right:3px;
	display:inline-block;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	min-width:16px;
	text-align:center;
}
.smart-forms-pagination-span-current {
	background-color: #DDDDDD;
}
.smart-forms-pagination-dots {
	padding-left:2px;
	padding-right:2px;
	display:inline-block
}
.smart-forms-pagination-link-current:visited, .smart-forms-pagination-link-current:active {
	color:Black;
}
.smart-forms-pagination-section {
	margin-top:10px;
}
.smart-forms-query-section {
	margin-top:10px;
}
.smart-forms-query-controls {
	display:none;
}
.smart-forms-export-section {
	float: right;
}
.load-spinner {
	float: right;
}
