#smart-forms-worflow-section {
	margin-bottom: 10px;
}
#smart-forms-form-section {
	margin-top: 10px;
}
#smart-forms-save-section {
	margin-top: 10px;
}
#smart-forms-state {
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	border-radius:3px;
	border:2px solid rgb(0,0,0,0.3);;
	margin-right:15px;
}
.smart-forms-transition-button {
	margin-top:5px;
}
#smart-forms-state-section {
	margin-bottom:10px;
}
#smart-forms-transition-section {
	margin-bottom:10px;
}
.smart-forms-state-heading {
	margin-bottom:5px !important;
}
#smart-forms-clone-button {
	float: right;
}
#smart-forms-clone-spinner {
	float: right;
}
.smart-forms-form .text {
	color: var(--aui-form-field-default-text-color) !important;
}
.smart-forms-form .select {
	color: var(--aui-form-field-default-text-color) !important;
	opacity: 1 !important;
}
.smart-forms-form .select2-container-disabled .select2-choices {
	border: 2px solid transparent !important;
 	background-color: var(--aui-form-disabled-field-bg-color) !important;
 	cursor: not-allowed !important;
}
.smart-forms-form .select2-container-disabled .select2-choice {
	border: 2px solid transparent !important;
 	background-color: var(--aui-form-disabled-field-bg-color) !important;
 	cursor: not-allowed !important;
}