$webResourceManager.requireResource("de.edrup.confluence.plugins.smart-forms:smart-forms-create-web-1392")            

<div class="smart-forms-create-div">
	<a href="#" class="smart-forms-create-link" data-parent-page-id="$parentPageId" data-key="$key" data-form-page-id="$formPageId" data-workflow-page-id="$workflowPageId">
		$linkWithHtml
	</a>
	<aui-spinner class="smart-forms-create-spinner" size="small" style="display:none"></aui-spinner>
</div>